[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
psycopg2 = "*"
authlib = "*"
python-dotenv = "*"

[dev-packages]
colorama = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"
